body {
  background-color:#282c34;
}

div {
  margin: 5%;
  padding: 1%;
  border-style: solid;

}

div:nth-child(even){
  color:white;
}
div:nth-child(odd){
  color:#282c34;
  background-color:white;
}

.navigasjon
{
    width: 100%;
    margin: auto%;
    padding-top: 5%;
    text-align: center;
}

.alt {
  font-size: 25px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline; /* NOTE: Legges på linje */
    margin-right: 6%; /* NOTE: Mellomrom mellom tekst */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

nav ul li a:hover {
    color: #282c34;
    background-color: white;
}

.element{
color:white;
}

.tekstskygge{
  text-shadow: 5px 5px 5px #ccc;
}

.fleretekstskygger{
  text-shadow: 5px 5px 2px #ccc, 10px 10px 2px black;
}

.boxshadow{
  box-shadow: 5px 5px 5px #fff;
}

.boxshadow_inset{
    box-shadow: inset 10px 10px 10px black;
}

.linear_gradient{
  background: linear-gradient(#fff, #282c34);
}

.radial_gradient{
  background: radial-gradient(#fff,#282c34)
}

/* NOTE:
grå : #282c34
grønn: #86bb62
orange: #c7894f
blå:#4d9cee
rød:#c73f43
*/
