/* 1.a)
div, p { color: red}
*/

/*-------------------------------*/

/* 1.c)
p {
    color: green;
    background-color: pink;
}

div p {
    color: blue;
}
*/

/*-------------------------------*/

/* 2.a)
body * {
    color: blue;
}
*/

/*-------------------------------*/

/* 2.b)
body {
    color: blue;
}

p {
    color: red;
}
*/

/*-------------------------------*/

/* 2.c)
p {
    color: red;
}

div {
    color: blue;
}
*/

/*-------------------------------*/

/* 2.d)
body * {
    color: red;
}
*/

/*-------------------------------*/

/* 2.e)
body * {
    color: red;
}

div p {
    color: black;
}
*/

/*-------------------------------*/
